body{
  background: #f7f6f6;
}
button{
  cursor: pointer;
}

ul{
  padding-left: 0px;
}
.search-input{
  display: grid;
  margin: 0 auto;
  width: 20%;
}

.list-items{
  display: grid;
  margin: 0 auto;
  width: 50%;
}
.list-items__item{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5px 0px 5px 0px;
  border: 2px solid #003cff6b;
  background: white;
}
.left__img{
  width: 90%;
  height: 100%;
}

.search-input__button{
  margin-top: 5px;
  background: #003cff6b;
  color: white;
  border: 2px solid #395acc;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
}
.search-input{
  padding-top: 15px;
}
.search-input__input{
  padding: 2px;
  border: 2px solid #395acc;
  border-radius: 10px;
  outline: none;
}

.list-items__button{
  margin: 5px auto;
  width: 20%;
  background: #003cff6b;
  color: white;
  border: 2px solid #395acc;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
}

.pagination{
  display: grid;
  margin: 15px auto;
  width: 20%;
  text-align: center;
}

.pagination-button{
  margin: 5px 5px 0px 5px;
}


@media(max-width: 768px){
  .list-items__button{
    width: 50%;
  }
  .search-input{
    width: 25%;
  }
}
@media(max-width: 425px){
  .pagination{
    width: 90%;
  }
  .search-input{
    width: 90%;
  }
  .list-items{
    width: 90%;
  }
  .right{
    font-size: 14px;
  }
  .list-items__button{
    padding: 5px;
  }
}